.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

.profile-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;  
    border-radius: 50%;
    padding: 25px;
  }


.profile-text {
    display: flex;
    flex-direction: column; 
  }

.name {
    font-weight: bold; 
    margin: 0;
  }
  
.shortbio {
    max-width:400px;
  }

section {
    max-width: 700px;
    margin: 50px auto;
    text-align: left;
  }

.section-title {
    color: #4674a0;
    border-bottom: 2px solid #ccc;
  }

.class-list {
    list-style-type: none;  
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
    text-align: left;      
  }

.class-list li {
    margin: 10px 0; 
}

.experience-list {
    max-width: 700px;
    display: flex;
    flex-direction: column;
  }

.experience-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    text-align: left;
  }

.exp-company {
    font-weight: bold;
    margin: 0;
  }
  
.exp-role {
    font-style: italic;
    margin: 4px 0;
  }
  
.exp-description {
    margin: 0;
  }
  

body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    font-family: sans-serif;
  }
  
@media (prefers-color-scheme: dark) {
body {
      background-color: #121212;
      color: #cccccc;
    }
    a {
        color: #abcded;
    }
  
    .shortbio {
      color: #cccccc;
    }

    .section-title {
        color: #abcded;
        border-bottom: 2px solid #a09e9e;
    }
  }